.h2-section {
    color: $color-black;
    padding: 1em;
}
.heading {
    padding-bottom: 1em;
}

.pargraph {
    text-align: left;
    padding-bottom: .5em;
}

.prettyprint {
    color: $color-white;
    font-size: 1.5em;
 }